.active {
    background-color: #FFF !important;
    background-image: none !important;   
    text-align: center !important; 

    color: #000!important;
    transform: rotateY(360deg) !important;
}

.matched{
    opacity: 0 !important;
    // visibility: hidden;
}

.easy {
    width: 500px;
    margin: 200px auto;
}

.medium{
     width: 500px;
    margin: 150px auto;
}

.hard{
     width: 600px;
    margin: 110px auto;
}

.extreme{
     width: 800px;
    margin: 100px auto;
}
